@media screen and (max-width: 750px) {
    .landing__education {
        flex-direction: column-reverse;
    }

    .education-img {
        &__item {
            min-height: 350px;
        }
    }
}

@media screen and (max-width: 355px) {
    .education__list ul {
        display: flex;
        min-height: 180px;
        flex-direction: column;
        justify-content: space-around
    }
}