@media screen and (max-width: 710px) {
    .services {
        &__content {
            max-width: calc(50% - 40px);
            min-height: 150px;
        }
    }
}

@media screen and (max-width: 355px) {
    .services {
        &__content {
            max-width: calc(100% - 40px);
            min-height: 100px;
        }
    }
}