todo-list {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

label {
    margin-right: 10px;
}

input {
    outline: none;
    margin-right: 10px;
}

main {
    display: flex;
    flex-direction: column;
}