div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

p {
    flex: 1;
    margin: 0;
    user-select: none;
}

button {
    cursor: pointer;
}
