<div class="todo-list-item__task" [ngClass]="{ 'todo-list-item__task--completed' : task.status }">
    <div class="todo-list-item__counter">{{ index + 1 }}</div>

    <button class="todo-list-item__status" (click)="onToggle()">
            <i class="far fa-check-circle" [ngClass]="{ fas : task.status }"></i>
    </button>

    <input
        class="todo-list-item__task-description"
        type="text"
        [(ngModel)]="task.description"
        name="description">

    <button class="todo-list-item__button" (click)="onRemove()">
            <i class="fas fa-trash-alt"></i>
    </button>
</div>