.skills-stats {
    &__content {
        padding: 20px;
    }

    &__item {
        &:first-child {
            color: #fff;
            margin-bottom: 20px;
        }

        &:nth-child(2) {
            color: #fff;
            margin-bottom: 20px;
            font-size: 1.4rem;
            font-weight: 700;
        }
    }

    &__progress-line {
        background-color: #fff;
    }
}

.progress {
    &__content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    &__item {
        margin-bottom: 10px;
        font-size: 1.2rem;
        font-weight: 700;

        &:last-child {
            color: #fff;
        }
    }
}

.progress-line {
    &__item {
        height: 4px;
        background-color: black;
        margin-bottom: 20px;

        &[data-value="90"] {
            width: 90%;
        }

        &[data-value="70"] {
            width: 70%;
        }

        &[data-value="80"] {
            width: 80%;
        }
    }
}