.contact-form {
    &__content {
        display: flex;
        flex-direction: column;
        padding: 30px 20px;
        color: $firstMainFontColor;
    }

    &__item {
        &:first-child {
            margin-bottom: 15px;
        }

        &:nth-child(2) {
            margin-bottom: 25px;
        }
    }

    &__label {
        margin-right: 10px;
    }

    &__input {
        border-bottom: 1px solid $firstMainFontColor;
        margin-bottom: 15px;
        padding: 3px 0;

        &:last-of-type {
            display: flex;
            flex-direction: column;
        }
    }

    input {
        background-color: transparent;
        border: 0;
        height: 20px;
        color: $firstMainFontColor;
        outline: none;
    }

    textarea {
        background-color: transparent;
        border: 0;
        margin-top: 10px;
        color: $firstMainFontColor;
        outline: none;
    }

    &__btn {
        text-transform: uppercase;
        display: inline-block;
        padding: 8px 20px;
        text-align: center;
        text-decoration: none;
        border: 2px solid $firstMainFontColor;
        font-family: 'Acrom-bold';
        font-weight: 800;
        color: $firstMainFontColor;
        border-radius: 20px;
        margin-top: 20px;
        width: 120px;

        &:hover {
            background-color: $firstMainFontColor;
            color: $secondMainFontColor;
        }
    }
}