.home-img {
    &__item {
        background-image: url(../img/home-img.jpg);
        background-size: cover;
        background-position: center;
        min-height: 100%;
        position: relative;
    }

    &__text {
        font-size: 1.4rem;
        font-weight: 800;
        position: absolute;
        top: 25px;
        left: 25%;
        text-shadow: #fff 2px 1px 2px;
    }
}