@media screen and (max-width: 750px) {
    .landing__experience {
        flex-direction: column;
    }

    .experience-img {
        &__item {
            min-height: 350px;
        }
    }
}

@media screen and (max-width: 355px) {
    .experience__list ul {
        display: flex;
        min-height: 180px;
        flex-direction: column;
        justify-content: space-around
    }
}